<app-nav-bar></app-nav-bar>


<!-- ***** Welcome Area Start ***** -->
<div class="welcome-area" id="welcome">
    <div class="header-text">
        <div class="container">
            <div class="row">
                <div class="left-text col-lg-6 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                    <h1>We Keep Your Dreams <strong>ALIVE</strong></h1>
                    <p>Don't compare yourself to others and whether they're achieving their dreams. There are always
                        going to be people who are closer to fulfilling their dreams than you are. Respect them for the
                        work they've put it and focus on putting work in on your own dreams.</p>

                    <a routerLink="/login" class="main-button-slider" routerLinkActive='text-success'>Find Out More</a>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12"
                    data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                    <img src="../../../assets/Images/slider-icon.png" class="rounded img-fluid d-block mx-auto"
                        alt="First Vector Graphic">
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** End Welcome Area ***** -->


<!-- ***** Features Big Item Start ***** -->
<section class="section" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-md-12 col-sm-12" data-scroll-reveal="enter left move 30px over 0.6s after 0.4s">
                <img src="../../../assets/Images/left-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
            <div class="right-text col-lg-5 col-md-12 col-sm-12 mobile-top-fix">
                <div class="left-heading">
                    <h5>Benefits of learning from our Platform</h5>
                </div>
                <div class="left-text">
                    <p>Our <a routerLink="/login">Online learning</a>  makes students more in control of their learning path. If they want to pass
                        the course or exam given, they need to take time to study.
                        <br><br>
                        Putting them in charge of their own learning process (instead of the teacher) and therefore
                        making them more self-disciplined.
                    </p>

                    <a routerLink="/login" class="main-button" routerLinkActive='text-success'>Discover More</a>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="hr"></div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->


<!-- ***** Features Big Item Start ***** -->
<section class="section" id="about2">
    <div class="container">
        <div class="row">
            <div class="left-text col-lg-5 col-md-12 col-sm-12 mobile-bottom-fix">
                <div class="left-heading">
                    <h5>Curabitur aliquam eget tellus id porta</h5>
                </div>
                <p>Proin justo sapien, posuere suscipit tortor in, fermentum mattis elit. Aenean in feugiat purus.</p>
                <ul>
                    <li>
                        <img src="../../../assets/Images/about-icon-01.png" alt="">
                        <div class="text">
                            <h6>Nulla ultricies risus quis risus</h6>
                            <p>You can use this website template for commercial or non-commercial purposes.</p>
                        </div>
                    </li>
                    <li>
                        <img src="../../../assets/Images/about-icon-02.png" alt="">
                        <div class="text">
                            <h6>Donec consequat commodo purus</h6>
                            <p>You have no right to re-distribute this template as a downloadable ZIP file on any
                                website.</p>
                        </div>
                    </li>
                    <li>
                        <img src="../../../assets/Images/about-icon-03.png" alt="">
                        <div class="text">
                            <h6>Sed placerat sollicitudin mauris</h6>
                            <p>If you have any question or comment, please <a routerLink="/contact">contact</a> us on TemplateMo.</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="right-image col-lg-7 col-md-12 col-sm-12 mobile-bottom-fix-big"
                data-scroll-reveal="enter right move 30px over 0.6s after 0.4s">
                <img src="../../../assets/Images/right-image.png" class="rounded img-fluid d-block mx-auto" alt="App">
            </div>
        </div>
    </div>
</section>
<!-- ***** Features Big Item End ***** -->




<app-footer></app-footer>